head {
    font: Arial;
}

body {
    font: Arial;
    text-align: center;
}

h1 {
    font: Arial;
    text-align: center;
}

h2 {
    font: Arial;
    text-align: center;
}

.italic {
    font: italic;
}

.container {
    outline-style: solid;
    outline-color: black;
}